<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <servlet>
    <servlet-name>Requete</servlet-name>
    <servlet-class>navi.Requete</servlet-class>
    <multipart-config>
		<location>C:\\upload</location>  <!-- /data/users/fndao/Bureau -->
		<max-file-size>80485760</max-file-size> <!-- 10 à la place de 80 -->
		<max-request-size>80428800</max-request-size> <!-- 52 a la place de 80 -->
		<file-size-threshold>1048576</file-size-threshold> 
	</multipart-config>
  </servlet>

  <servlet-mapping>
    <servlet-name>Requete</servlet-name>
    <url-pattern>/requete</url-pattern>
  </servlet-mapping>

</web-app>
